<div class="container" [hidden]="orderFinished">
  <div class="row">
    <div class="col-lg-4">
      <h2 class="title-page"><i class="fab fa-dropbox"></i> Products <i class="fab fa-dropbox"></i></h2>
    </div>
    <div class="col-lg-8">
      <div class="input-group mb-3" style="margin-top: 15px;">
        <input type="text" class="form-control" placeholder="Search product" name="name" [(ngModel)]="name">
        <button class="btn btn-danger" type="button" (click)="search()"><i class="fas fa-search"></i></button>
      </div>
    </div>
  </div>
</div>
<hr>
<div class="row" style="padding-bottom: 40px;" *ngIf="!showSearch">
  <div class="col-md-9">
    <app-products #productsC [hidden]="orderFinished"></app-products>
  </div>
  <div class="col-md-3">
    <app-shopping-cart (onOrderFinished)=finishOrder($event) #shoppingCartC [hidden]="orderFinished">
    </app-shopping-cart>
  </div>

  <div class="col-md-6 offset-3">
    <app-orders #ordersC [hidden]="!orderFinished"></app-orders>
  </div>
</div>

<div *ngIf="showSearch">
  <div class="card-deck" style="padding-bottom: 40px;">
    <div class="col-lg-4 col-md-6 mb-4" *ngFor="let product of products let i = index;">
      <div class="card text-center">
        <div class="card-header" style="background-color: #bdc3c7;">
          <h4>{{product.name}}</h4>
        </div>

        <div class="card-body">
          <a (click)="sngleProduct(product.id)"><img class="card-img-top img-thumbnail"
              style="width: 230px; height: 300px; cursor: pointer;" src={{product.pictureUrl}} alt="image"></a>
          <h5 class="card-title" id="price">Price = {{product.price}}<i class="fas fa-dollar-sign"></i>
            <button title="Information" id="btn" (click)=showUndoBtn(i) (click)="productInfo(product.id)">
              <i class="fas fa-info-circle"></i></button>
            <button title="View" id="btn" (click)="sngleProduct(product.id)"> <i class="fas fa-eye-slash"></i></button>
          </h5>
          <div class="modal" [attr.id]="'undoBtn'+i" *ngIf="showBtn===i && showMyContainerInfo" class="editBtn"
            md-raised-button color="primary">
            <div class="modal-content">
              <span>{{product.description}}</span>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
