

<style>
  body {
    font-family: initial;
    font-size: 16px;
  }
  .spacer {
    flex: 1;
  }
   a {
    margin-right: 20px;
    color: aliceblue;
  }
  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
  }

  .toolbar img {
    margin: 0 16px;
  }

  .toolbar #twitter-logo {
    height: 40px;
    margin: 0 16px;
  }

  .toolbar #twitter-logo:hover {
    opacity: 0.8;
  }

</style>

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    width="40"
    alt="Angular Logo"
    src="https://nsa40.casimages.com/img/2021/01/16/210116104915718144.png" [routerLink]="['/dashboard']"/>
  <span [routerLink]="['/dashboard']">Welcome to your eccommerce</span>
    <div class="spacer"></div>
    <a type="button" [routerLink]="['/dashboard']">
      Home
   </a>
    <a type="button" *ngIf="user" [routerLink]="['/profile/', user.id]">
       Profile
    </a>
    <a type="button" (click)="login()" *ngIf="!user">
      login
   </a>
</div><br>

  <router-outlet></router-outlet>

