<br>
<mat-card>
  <div class="row">
    <div class="col-md-6">
      <mat-card-header>
        <div mat-card-avatar></div>
        <mat-card-title>{{category.name}}</mat-card-title>
        <mat-card-subtitle>All products for this category</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>

        <div class="card mb-3" *ngFor="let pro of products">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="{{pro.pictureUrl}}" alt="{{pro.name}}" style="width: 150px;">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">{{pro.name}}</h5>
                <p class="card-text" style="color: firebrick; font-weight: bold;">Price: {{pro.price}}
                </p>
                <p class="card-text"><small class="text-muted">{{pro.description}}</small></p>
                <ul class="list-group list-group-horizontal">
                  <li class="list-group-item" style="cursor: pointer;" (click)="editProduct(pro.id)">Update</li>
                  <li class="list-group-item" style="cursor: pointer;" (click)="deleteProduct(pro.id, user.id)">Delete
                  </li>
                </ul>
              </div>
            </div>
          </div><br>
          <div class="row">
            <div class="col-md-4">
              <span class="badge rounded-pill bg-dark"
                style="cursor: pointer; margin: 10px; color: aliceblue; padding: 5px 10px;" (click)="addTag(pro.id)">
                Add Tag</span>
            </div>
            <div class="col-md-8">
              <mat-accordion>
                <mat-expansion-panel hideToggle>
                  <mat-expansion-panel-header (click)="showTags(pro.id)">
                    <mat-panel-title>
                      Tags
                    </mat-panel-title>
                    <mat-panel-description>
                      for this product
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <mat-chip-list class="example-chip" cdkDropList cdkDropListOrientation="horizontal">
                    <mat-chip class="example-box" cdkDrag *ngFor="let tag of tags">
                      {{tag.name}}
                    </mat-chip>
                  </mat-chip-list>
                </mat-expansion-panel>
              </mat-accordion><br>
            </div>
          </div>
        </div>

      </mat-card-content>
      <mat-card-actions>
        <button mat-button color="primary" (click)="editCategory(category.id)">Update category</button>
        <button mat-button color="accent" (click)="deleteCategory(category.id, user.id)">Delete
          category</button>
      </mat-card-actions>
    </div>
    <div class="col-lg-md">
      <h2 style="margin-left: 25px;">Comments</h2>
      <mat-accordion>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Management
            </mat-panel-title>
            <mat-panel-description>
              The comments
            </mat-panel-description>
          </mat-expansion-panel-header>

          <mat-card class="example-card" *ngFor="let comment of comments" style="margin-bottom: 10px;">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Added By {{comment.addedBy}}</mat-card-title>
              <mat-card-subtitle>Added At {{comment.addedBy}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <strong>{{comment.title}}</strong>
              <p style="width: 350px;">{{comment.message}}</p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button color="accent" (click)="deleteComment(comment.id)">Delete</button>
            </mat-card-actions>
            <hr>
          </mat-card>


        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</mat-card>
